{% extends "base.html" %}
{% block content %}

<div class="card">
  <div class="runheader">
    <h1>Production Runs</h1>

    {% if user.role == "MANAGER" %}
      <a class="btn btn-primary" href="/runs/new">+ New Run</a>
    {% endif %}
  </div>
</div>

{% if grouped|length == 0 %}
  <div class="card">
    <div class="muted">No runs created yet.</div>
  </div>
{% endif %}

{% if user.role == "MANAGER" %}
  <a class="btn" href="/users">Users</a>
{% endif %}

<a class="btn" href="/mrr">MRR</a>

{% for batch, runs in grouped.items() %}
  <div class="card">
    <h2>Batch: {{ batch }}</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Process</th>
          <th>Status</th>
          <th>Progress</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for r in runs %}
          <tr>
            <td><b>{{ r.process }}</b></td>
            <td>{{ r.status }}</td>
            <td>{{ progress_map[r.id] }}%</td>
            <td>
              <a class="btn" href="/runs/{{ r.id }}">Open</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

{% endblock %}


